body {
    margin: 0;
    padding: 0;
    background-color: #302f2f;
}

#wrapper {
    width: 800px;
    margin: 20px auto;
    background-color: #808080;
    border: 5px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 10px #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    margin: 40px;
    text-align: center;
    font-size: 2.5em;
}

article {
    margin-left: 170px;
    margin-bottom: 40px;
}

    article > div {
        color: #fff;
        margin-top: 30px;
        margin-left: 40px;
    }

p {
    color: #f00;
}