html, body, div, section, article, ul, li, h1, h2, input, label, button, textarea, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

#wrapper {
    width: 850px;
    margin: 15px auto;
    padding: 25px 5px 25px 25px;
    font-family: 'Segoe UI';
    background-color: #ccc9c9;
    border: 5px solid #fff;
    border-radius: 15px;
}

article {
    margin-top: 30px;
}

ul {
    margin-top: 10px;
}

li {
    margin-left: 40px;
    color: #f00;
}

.solution {
    display: inline-block;
    margin: 25px 25px 15px;
    font-weight: bold;
}

h1 {
    font-size: 1.8em;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
}

button {
    border-radius: 5px;
    margin: 0 60px;
    padding: 5px 10px;
}

    button#button-p3 {
        margin: 0 40px;
    }

    button#button-p12 {
        margin: 0 0 20px;
    }

input {
    width: 180px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

    input#input2-p3 {
        width: 100px;
        margin-left: 15px;
    }

textarea {
    width: 210px;
    height: 70px;
    border: 2px inset #e8e8e8;
    border-radius: 5px;
    padding: 5px;
    vertical-align: top;
    resize: vertical;
}

    textarea#input1-p3 {
        width: 200px;
        height: 50px;
    }

    textarea#input-p11 {
        width: 400px;
        margin-right: 30px;
    }

p {
    margin: 15px 40px 0;
    color: #fff;
    font-weight: bold;
}