table {
    border: 1px inset;
    border-collapse: collapse;
    border-color: rgb(154, 154, 154);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

th {
    height: 16px;
    font-weight: normal;
    text-align: left;
    border: 1px inset;
    border-color: rgb(154, 154, 154);
    padding: 5px 5px 5px 8px;
    color: rgb(255, 255, 255);
    background: rgb(151,204,83); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, rgb(151,204,83) 0, rgb(78,178,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,rgb(151,204,83)), color-stop(100%,rgb(78,178,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(151,204,83) 0,rgb(78,178,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(151,204,83) 0,rgb(78,178,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(151,204,83) 0,rgb(78,178,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(151,204,83) 0,rgb(78,178,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97cc53', endColorstr='#4eb201',GradientType=0 ); /* IE6-8 */
}

td {
    height: 23px;
    border-left: 1px inset;
    border-right: 1px inset;
    border-color: rgb(154, 154, 154);
    padding: 5px 5px 5px 8px;
}

tbody tr:nth-child(even) {
    background-color: rgb(235, 235, 214);
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
}

img {
    width: 26px;
    height: 18px;
    vertical-align: bottom;
}

col.first-col {
    width: 170px;
}

col.second-col {
    width: 138px;
}

col.third-col {
    width: 157px;
}

col.fourth-col {
    width: 104px;
}